name: Swift

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-14 # Use macOS 14 runner for Xcode 15+

    steps:
    - uses: actions/checkout@v4
    
    - name: Select Xcode
      run: sudo xcode-select -s /Applications/Xcode_15.2.app

    - name: Build for iOS Simulator
      run: |
        xcodebuild build \
          -scheme ProprioApp \
          -destination 'platform=iOS Simulator,name=iPhone 15,OS=17.2' \
          -derivedDataPath .build/derivedData \
          CODE_SIGN_IDENTITY="" \
          CODE_SIGNING_REQUIRED=NO \
          CODE_SIGNING_ALLOWED=NO

